<h1>Ajouter un cours</h1>
<form [formGroup]="form" class="flex flex-column" (submit)="submitForm($event)" >

  <p-panel header="Détails du cours">
    <div class="flex flex-row mt-2">
      <span class="p-float-label mr-2 w-2">
        <p-calendar styleClass="w-full" formControlName="startDateTime" (onSelect)="onStartDateChange($event)" [showTime]="true"
                  [hourFormat]="'24'" [dateFormat]="'dd/mm/yy'" [firstDayOfWeek]="1"></p-calendar>
        <label for="startDateTime">Date de début</label>
      </span>
      <span class="p-float-label w-2">
        <p-calendar styleClass="w-full" formControlName="endDateTime" [showTime]="true" [hourFormat]="'24'"
                    [dateFormat]="'dd/mm/yy'" [firstDayOfWeek]="1"></p-calendar>
        <label for="endDateTime">Date de fin</label>
      </span>
    </div>

    <div class="flex flex-row mt-5">
      <span class="p-float-label mr-2 w-2">
        <p-dropdown styleClass="w-full" formControlName="teacherId" [options]="teachers" optionLabel="label" optionValue="id"  placeholder="Coach"></p-dropdown>
        <label for="teacherId">Coach</label>
      </span>
      <span class="p-float-label mr-2 w-2">
        <p-inputNumber formControlName="nbMaxParticipant" [showButtons]="true" buttonLayout="horizontal"
                       spinnerMode="horizontal" [min]="0" inputStyleClass="w-full"
                       decrementButtonClass="p-button" decrementButtonIcon="pi pi-minus"
                       incrementButtonClass="p-button" incrementButtonIcon="pi pi-plus"></p-inputNumber>
        <label for="nbMaxParticipant">Nb. max. participant(s)</label>
      </span>
      <span class="p-float-label mr-2 w-6">
        <input pInputText formControlName="type" placeholder="Type">
        <label for="type">Type</label>
      </span>
    </div>
  </p-panel>


  <p-panel formArrayName="reservedResources" styleClass="test" header="Ressources réservées">
    <ng-template pTemplate="icons">
      <p-button type="button" (click)="addResource()"  class="p-panel-header-icon p-link" [icon]="'pi pi-plus'"></p-button>
    </ng-template>

    <span class="p-float-label mt-3 " [ngClass]="reservedResources.controls.length===i+1?'mb-3':'mb-5'" *ngFor="let resource of reservedResources.controls; let i=index">
      <p-dropdown [formControlName]="i" [options]="resources" optionLabel="label" optionValue="id"  placeholder="Ressource"></p-dropdown>
      <label for="reservedResources-{{i}}">Ressource {{i+1}}</label>
      <p-button type="button" (click)="deleteResource(i)" icon="pi pi-times" styleClass="ml-2 p-button-danger"></p-button>
    </span>

    <p *ngIf="reservedResources.controls.length==0">Aucune ressource réservée pour le moment</p>
  </p-panel>

  <p-button [disabled]="!form.valid" class="mt-5" label="Valider" type="submit"></p-button>
</form>


<h2 class="mt-6">Inspection du formulaire</h2>
<div class="mb-2" [style]="{backgroundColor :'white'}">
  <ngx-json-viewer [json]="form.getRawValue()"></ngx-json-viewer>
</div>
